@import "tailwindcss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
}

.landing{
  background: url("./assets/pictures/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg1{
  background: url("./assets/backgrounds/bg1.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg2{
  background: url("./assets/backgrounds/bg2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg3{
  background: url("./assets/backgrounds/bg3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg4{
  background: url("./assets/backgrounds/bg4.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}