@import "tailwindcss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
}

.landing{
  background: url("./assets/pictures/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}